<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Mesage board homepage</h1>
<ul>
    {% for post in object_list %}
    <li>{{ post }}</li>
    {% endfor %}

</ul>
</body>
</html>